tqdm==4.47.0
gensim==3.8.3
torch==1.7.1
flair==0.4.5
pyconll==2.2.1
conllu==4.4
transformers==3.5.1
srsly==1.0.2
tweepy
nltk==3.5
fuzzywuzzy==0.18.0
scipy==1.5.0
danlp==0.0.11
xlrd==1.2.0
mysql-connector